body {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #fffff8;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid purple;
  h1 {
    font-family: "Press Start 2P";
    color: purple;
    font-size: 26px;
  }
  i {
    font-size: 30px;
    margin: 20px;
    color: purple;
  }
}

.todo-wrapper {
  margin-top: 200px;
  margin: 150px auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: #fffff0;
  padding: 20px;
}

.add-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.label {
  font-size: 20px;
  margin: 20px;
  color: purple;
  font-family: "Press Start 2P";
}
#taskInput {
  border: none;
  box-shadow: 0px 0px 2px 0px rgb(65, 2, 65);
  width: 90%;
  height: 40px;
  border-radius: 8px;
  background-color: #fffff0;
  font-size: 18px;
  text-align: center;
  color: purple;
  font-family: "Pixelify Sans", sans-serif;
}
#taskInput:hover {
  background-color: #fffff4;
  outline: none;
  box-shadow: 0px 0px 4px 0px purple;
}
#taskInput:focus {
  outline: none;
}

.circle {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  transition: background-color 0.5s;
  margin: 20px;
  i {
    color: gold;
    font-size: 20px;
  }
}
.circle:hover {
  background-color: gold; /* Change background color on hover */
  cursor: pointer; /* Change cursor to indicate interactivity */
  i {
    color: purple;
  }
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.todos {
  margin: 20px;
  width: 100%;
  padding: 0;
  min-height: 150px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
    color: purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0px 0px 4px 0px purple;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #fffff0;
  }

  i {
    font-size: 18px;
  }
}

.fa-square-check,
.fa-chevron-up,
.fa-chevron-down,
.fa-trash-can {
  transition: transform 0.3s ease-in-out; /* Add a transition to the transform property */
}

.fa-square-check:hover {
  cursor: pointer;
  color: blueviolet;
  transform: scale(1.2) rotateY(180deg); /* Scale the icon and flip it horizontally on hover */
}
.fa-chevron-up:hover,
.fa-chevron-down:hover,
.fa-trash-can:hover {
  cursor: pointer;
  color: blueviolet;
  transform: scale(
    1.2
  ); /* Scale the icon to 1.2 times its original size on hover */
}
.checked {
  text-decoration: line-through;
}
