body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  h1 {
    color: purple;
  }
  i {
    font-size: 30px;
    margin: 20px;
    color: purple;
  }
}

.todo-wrapper {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.add-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.label {
  font-size: 20px;
  align-self: flex-start;
  margin-left: 30px;
  margin-bottom: 5px;
}
#taskInput {
  width: 90%;
  height: 40px;
  border-radius: 8px;
}
.circle {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  transition: background-color 0.5s;
  align-self: flex-end;
  margin: 10px 30px 0px 0px;

  i {
    color: gold;
    font-size: 20px;
  }
}
.circle:hover {
  background-color: gold; /* Change background color on hover */
  cursor: pointer; /* Change cursor to indicate interactivity */
  i {
    color: purple;
  }
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.todos {
  margin: 20px;
  width: 100%;
  padding: 0;
  min-height: 150px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
    color: purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    box-shadow: 0px 0px 4px 0px purple;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(216, 234, 241);
  }
}

.fa-square-check:hover {
  cursor: pointer;
}

.checked{
  color: green;
  text-decoration: line-through;

}